*{
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(0, rgba(25, 25, 25, 1) 7%, rgba(17, 17, 17, 1) 81%);
}
#search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em;
    background-color: #282828;
}
#search-section input[type="text"]{
    background-color: #111;
    color: #f2f2f2;
    border: 3px solid #111;
    font-size: .8rem;
    border-radius: 10px;
    transition: .1s;
    display: inline-block;
    font-family: "Rubik", Helvetica, sans-serif;
    padding: .7em;
    width: 50%;
    font-weight: 500;
}
#search-section input[type="button"]{
    background-color: #222;
    color: #f2f2f2;
    border: 2px solid #444;
    border-radius: 10px;
    width: 15%;
    margin: 1em;
    padding: .3em;
    text-transform: capitalize;
    font-size: .9em;
    transition: .1s ease-out;
}

#search-section input[type="button"]:hover{
    background-color: #313131;
    border-color: rgba(0, 0, 0, 0.149);
    box-shadow: rgba(0, 0, 0, 0.102) 0 4px 12px;
    color: #f2f2f2;
    border: 2px solid #777;
}
#search-section input[type="button"]:active{
    background-color: #222;
    box-shadow: 10px 5px 5px #222;
    border: 2px solid #888;
}
.shows-data-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.show-box{
    position: relative;
    margin: .4em;
    padding: 1em;
    width: 16em;
    color: #e4e4e4;
    background: linear-gradient(57deg, rgba(31, 31, 31, 1) 34%, rgba(11, 11, 11, 1) 99%);
    border: 4px solid #111;
    font-size: .8rem;
    border-radius: 10px;
}
.show-box img{
    width: 100%;
}
.show-box div{
    margin: .2em;
}
.show-box div.show-genres{
    color: #a8a8a8;
}
.show-title{
    font-weight: 700;
    font-size: 1.6rem;
}
.show-genres{
    font-weight: 400;
}
.show-overview{
    padding: .5rem;
    background-color: #2f2f2f;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s ease-in;
    overflow-y: scroll;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
}
.show-box:hover .show-overview{
    opacity: 1;
}
*{
    scrollbar-width: .5em;
    scrollbar-color: #111 #333;
}
*::-webkit-scrollbar{
    width: .5em;
}
*::-webkit-scrollbar-track{
    background-color: #333;
}
*::-webkit-scrollbar-thumb{
    background-color: #111;
    border-radius: 20px;
}
#tv-maze-info{
    padding: 10px;
    text-align: center;   
}
#tv-maze-info a{
    color: #888;
}
@media only screen and (max-width: 600px) {
    #search-section input[type="text"]{
        width: 60%;
        font-size: .8em;
    }
    #search-section input[type="button"]{
        width: 30%;
    }
  }